    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

    img {
        border-radius:20px;
    }
    
    body {
        background-color: black;
        background-image:url("../img/doge.png");
        color: white;
        
    }
    
    #main {
        font-family: 'Baloo Bhaina', cursive;
     
        width:600px;
        height:500px;
        position:relative;
        margin:0 auto;
    }
    
    #reel1, #reel2, #reel3, #reel4 {
        top:100px;
        position:absolute;
    }
    
    #reel5, #reel6, #reel7, #reel8 {
        top:200px;
        position:absolute;
    }
    
     #reel9, #reel10, #reel11, #reel12 {
        top:300px;
        position:absolute;
    }
    
     #reel13, #reel14, #reel15, #reel16 {
        top:400px;
        position:absolute;
    }
  
    
    #reel1{
        left:145px;
    }
    #reel2{
        left:252px;
    }
    #reel3{
        left:357px;
    }
    #reel4{
        left:464px;
    }
     #reel5{
        left:145px;
    }
    #reel6{
        left:252px;
    }
    #reel7{
        left:357px;
    }
    #reel8{
        left:464px;
    }
    #reel9{
        left:145px;
    }
    #reel10{
        left:252px;
    }
    #reel11{
        left:357px;
    }
    #reel12{
        left:464px;
    }
     #reel13{
        left:145px;
    }
    #reel14{
        left:252px;
    }
    #reel15{
        left:357px;
    }
    #reel16{
        left:464px;
    }
  
    
    
    input{
        top:75px;
        left:530px;
        position:absolute;
        font-size:1.3em;
        background-color: Transparent;
        border:none;
        outline:none; 
        font-weight:bold;
        color:yellow;
        cursor:pointer;
    }
    
    #output{
     width:600px;   
     margin:0 auto;
     position:absolute;
     text-align:center;
     top:450px;
     font-size:1.5em;
     line-height: .7em;
    }
    
    footer{
        font-family: "Times New Roman", Georgia, Serif;
        font-size:.8em;
        width:600px;
        margin:0 auto;
        padding-top:10px;
    }