body {
    background: linear-gradient(black, yellow, red);
    color:white;
}
header, nav, footer, #content{
    width: 960px;
    margin: 0 auto; 
    text-align: center;
}

main{
    width: 960px;
    margin: 0 auto; 
    text-align: left;
}
nav a {    /*links within "nav" container*/
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration:none;
    color: white;
}

nav a:hover {    /*pseudo class*/
    border-bottom:2px yellow solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcomeText{
    float:left;
}



footer {
    clear: left;
    color: grey;
     font-size: .8em;
}

h1{
    font-family: 'Orbitron', cursive;
    font-size:4em;
    margin-bottom: 0px;
}

h2{
    font-family: 'Orbitron', cursive;
    font-size:4em;
    margin-bottom: 0px;
      text-align: center;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
